.modal-body input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.panel-center {
    float: none;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

/**
 * jquery 날짜 선택 콤포넌트 관련
 */
.ui-datepicker-trigger {
    cursor: pointer;
    vertical-align: -5px;
    z-index: 9999 !important;
}

/**
 * jqGrid 날짜 선택 콤포넌트 관련
 */
img.ui-datepicker-trigger {
    top: 2px;
    margin-left: 2px;
    vertical-align: middle;
    cursor: pointer;
}

/**
 * jqgrid search btn
 */
.btn_gridsearch {
    border: 0;
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-left: 2px !important;
    float: right;
    vertical-align: middle;
    background: url('/images/btn_search_17px.gif') no-repeat
}
