.highlight{background-color: aqua;}
.in-line{width:100%; height:40px; }
#layoutBackground { position:absolute; z-index:900; background-color:#000; display:none; left:0; top:0; } 

/*create Dialogue Modal CSS*/
.group-float-left{ float:left;width: 30%;margin-right: 5%; }
.group-float-left-last {float:left;width: 30%; }
.layout-float-left{ float:left; width: 46%; margin-right:8%; }
.layout-float-left-last{ float:left; width: 46%; }
.btnBox{ width:100%; margin-bottom:3px; }
.clear-both{ clear:both; }
.w82{ width: 82px; }
.modal_box.w900{ width: 900px; }

#mask { float:left; overflow:hidden; width:360px; height:200px; }

#image_tbl{border:non !important; margin-top: -40px !important;}
.margin0{ margin: 0 !important; }
