.userappLayout { 
    position:absolute; 
    display:none; 
    background-color:#ffffff; 
    border:solid 2px gray; 
    width:150px; 
    height:auto;  
    z-index: 999; 
} 

.userlayerMenu:hover{background-color:#a7a4a4 !important;}
.w100per{width:100%;}
.h100per{height:100%;}

.userlayoutFont { 
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 8px 24px;
    font-family: "Segoe UI Semibold";
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    background-image: none;
    color: #2b2b2b;
    cursor: pointer; 
    
}

#header .currentPage {
    background-color: rgb(139, 173, 187) !important;
}

#header .gnbm {
    display:block;
}

#toggleDiv {
    width : 1300px;
    height: 100%;
    position: fixed;
    display : none;
    top : 102px; 
    right : -900px; 
    z-index : 2;
    
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}
#toggleDiv.open { right : 0px; 
    transition: All 0.2s ease-in-out; 
    -webkit-transition: All 0.5s ease-in-out; 
    -moz-transition: All 0.2s ease-in-out; 
    -o-transition: All 0.2s ease-in-out; 
}
#learningTest { 
    width : 400px; 
    height : 100%; 
    display : block;
    background-color : white;
} 

#batchTestPanel { 
    width : 1200px; 
    height : 100%; 
    display : none;
} 
.learningTestContents{
    height:85%;
}
.learningTest-top-layer{
    position: absolute;
    background-color: white;
    width: 31%;
    height:40px;
    border-bottom:1px solid lightgray;
}
.learningTest-Title{
    float: left !important;
    padding:10px; font-size: 120%;
    font-weight:bold;
}
#startOver{
    float: right !important;
    padding:10px;
    font-weight:bold;
}

.selectLan{
    width: 90px;
    margin: 5px 10px 0 0;
    background-color: linen;
    font-size: 0.8em;
    font-weight: bold;
    font-family: inherit;
}
/*
#learningTest { 
    width : 300px; 
    height : 100%; 
    position : fixed; 
    top : 42px; 
    right : -1200px; 
    display : block;
    z-index : 10;
    border : 1px solid #c9c9c9; 
    background-color : white; 
    text-align : center; 
    transition: All 0.2s ease; 
    -webkit-transition: All 0.5s ease; 
    -moz-transition: All 0.2s ease; 
    -o-transition: All 0.2s ease; 
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);
} 
#learningTest.open { right : 0px; } 

#batchTestPanel { 
    width : 1200px; 
    height : 100%; 
    position : fixed; 
    top : 42px; 
    right : -1200px; 
    display : none;
    z-index : 10;
    border : 1px solid #c9c9c9; 
    background-color : white; 
    text-align : center; 
    transition: All 0.2s ease; 
    -webkit-transition: All 0.5s ease; 
    -moz-transition: All 0.2s ease; 
    -o-transition: All 0.2s ease; 
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);
} 

#batchTestPanel.open { right : 0px; } 
*/
