.highlight{background-color: aqua;}

.off-screen {
	display: none;
}
td.clickUtter {
    cursor: pointer;
}

.scenario-form-group{
    margin:10px 0
}
.scenario-btn_wrap{
    width:50%;text-align:center;margin:10px 0 5px;display:inline-block
}

.dpN{display:none !important}
.dpB{display:block !important}
.w100{width:100%}

.inputArea{}
