<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        <!--<%= title %>title-->
        TIIS Manager
    </title>

	<!-- 
        <link rel="stylesheet" href="./common/css/css_common.html" />
        -->
    

        <%include  ./common/commonUse.html%>
        <link rel="stylesheet" type="text/css" href="/css/learning.css" />
        <script type="text/javascript" src="/js/common/learning.js"></script>

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> test-->
</head>

<body>
<%include  ./header.html%>
<%include  ./header4Luis.html%>
<div id="wrap4Luis">
    <div id="lnb">
            <ul class="btn-list">
                <li>
                    <a href="#">
                        <span class="sideMainMenu">
                            <span class="sortarr_down"></span>
                            App Assets
                        </span>
                    </a>
                </li>
                <div class="subMenu">
                    <li>
                        <span>
                            서브메뉴1-1
                        </span>
                    </li>
                    <li>
                        <span>
                            서브메뉴1-2
                        </span>
                    </li>
                </div>
                <li>
                    <a href="#">
                        <span class="sortarr_down"></span>
                        <span class="sideMainMenu">
                            Improve app performance
                        </span>
                    </a>
                </li>
                <div class="subMenu">
                    <li>
                        <span>
                            서브메뉴2-1
                        </span>
                    </li>
                    <li>
                        <span>
                            서브메뉴2-1
                        </span>
                    </li>
                    <li>
                        <span>
                            서브메뉴2-1
                        </span>
                    </li>
                </div>
            </ul>
        </div>
        <div id="container">
            learning 페이지입니다.
        </div>
    </div>
        <hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
	<!-- /container -->

</body>

    
    
</html>