<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
            TIIS Manager
    </title>
    <%include  ./common/commonLib.html%>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/css/recommend.css" />
    <!--[if lt IE 9]>
    <script src="common/js/html5shiv.min.js"></script>
    <script src="common/js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript" src="/js/common/recommend.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <input type="hidden" name='currentPage' id="currentPage" value="1" />
        <!-- Header -->
        <%include ./header.html%>
        <!-- //Header -->

        <!-- Left Menu Side -->
        <%include ./leftSideBar.html%>
        <!--// Left Menu Side -->

        <!-- css는 recommend.css 에 만들었습니다 -->
        <div class="content-wrapper">
            <section class="content-header"><h1><%= __('RECOMMENDATION') %></h1>  </section>

            <!-- Main content -->
            <section class="content">
                <div class="box  color-palette-box">
                    <div class="box-body">
                        <div class="form-group w50 fl"  style="width: 250px;">
                            <select id="recommendPeriod" class="form-control"> 
                                <option value="all"><%= __('ALL') %></option>
                                <option value="yesterday"><%= __('Yesterday') %></option>
                                <option value="lastWeek"><%= __('Last_week') %></option>
                                <option value="lastMonth"><%= __('Last_month') %></option>
                            </select>
                        </div>
                        <!-- 검색창 --> 
                        <div class="form-group w50 fr ">
                            <div class="input-group input-group-sm fr" style="width: 250px;">
                                <input type="text" name="searchRecommendText" spellcheck="false" autocomplete='off' class="form-control pull-right" placeholder="<%= __('Enter_search_word') %>">
                                <div class="input-group-btn">
                                <button class="btn btn-default" onclick="recommendSearch()"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div> 
                        <!--학습 추천 테이블 --> 
                        <div class="Tbl_wrap">
                            <table class="Tbl" summary="학습 추천 결과">
                                <colgroup><col width="6%"/><col width="64%"/><col width="30%"/></colgroup>
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="tableAllChk" class="flat-red"></th>
                                        <th><%= __('CONTENTS') %></th>
                                        <th><%= __('REGIST_DATE') %></th>
                                    </tr>
                                </thead>
                                <tbody id="recommendContents">
                                    
                                </tbody>
                            </table>
                        </div> 
                        <!-- 버튼 --> 
                        <div class="btn_wrap03"><button type="button" class="btn btn-default fr" onclick="deleteRecommend()"><%= __('DELETE') %></button> </div>                                                
                        
                        <!-- 페이징 --> 
                        <div class="pagination_wrap" >
                            <ul class="pagination pagination-sm no-margin">

                            </ul>
                        </div>
                            
                    </div>
                </div>
            </section>
            <!-- //Main content -->  
        </div>
        
        <!--  Footer -->
        <%include  ./footer.html%>
        <!-- // Footer -->
    </div>
    <!--// Content Wrapper -->
    
    <script>

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass   : 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass   : 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass   : 'iradio_flat-green'
        })
        
    </script>
</body>

</html>