<!DOCTYPE html>
<html>

<head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/css/setting.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        TIIS Manager
        </title>
        <%include  ./common/commonUse.html%>
        <link rel="stylesheet" type="text/css" href="/css/learning.css" />
        <script type="text/javascript" src="/js/common/learning.js"></script>
</head>

<body class="main">
        <%include  ./header.html%>
        <%include  ./settingLeftMenu.html%>
        

</body>

    
    
</html>